.popup {
    width: 800px;
    height: 600px;
    background-color: #D3D3D3;
    border-radius: 25px;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.8s ease forwards;
}

.fade-out {
    animation: fadeOut 0.8s ease forwards;
}

.label {
    margin-right: 5px;
    margin-left: 30px;
    margin-top: 30px;
}

.input {
    margin-top: 20px;
    width: 200px;
    height: 30px;
}

.emptyDiv {
    width: 200px;
}

.descInput {
    width: 670px;
    height: 200px;
    resize: none;
}

.heading {
    height: 100px;
    width: 800px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    align-content: center;
}

.input::placeholder {
    text-align: center;
}

.buttons {
    margin-left: 20px;
    height: 30px;
    width: 100px;
}

